@font-face {
  font-family: "AspektaVF";
  src: url("./AspektaVF.woff2") format("woff2");
}

:root {
  --color1: #aaa;
}

* {
  margin: 0;
  padding: 0;
  flex-shrink: 0;
  font-family: "AspektaVF";
  text-transform: uppercase;
}
.mother {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: #ddd;
  flex-direction: column;

  overflow-y: scroll;
  overflow-x: hidden;
}

/* --------- */
/* Landing   */
/* --------- */

.landing {
  height: 40vh;
  position: fixed;
}

.landing .title {
  width: 100vw;
  height: 20vh;
  padding: 20px;
  font-size: 2em;
}

.landing .contact {
  padding: 10px;
  position: absolute;
  bottom: 0;
  right: 0;

  width: 50vw;

  display: flex;
  flex-direction: row;

  font-size: 0.8em;
  font-weight: 500;
}

.contact :first-child {
  margin-right: 50px;
}

.contact .address {
  font-weight: 400;
  letter-spacing: 0.02em;
}

/* ---------- */
/* Project    */
/* ---------- */

.project-container {
  z-index: 2;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none;

  background-color: rgba(200, 200, 200, 0.9);
}

.project-container .title-box {
  font-size: 1.5em;
  font-weight: 500;
  width: 100%;
  padding: 20px;
}

.project .project-scroll {
  display: flex;
  flex-direction: row;
  height: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
}

.project img {
  height: 90%;
  align-self: start;
  margin: 15px 10px 15px 0;
  cursor: pointer;

  transition: all 0.1s ease;
}

.project img:hover {
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.03);
}

.project {
  padding: 10px 0;
  font-size: 0.8em;
  padding: 10px 10px;
  height: 30vh;
  width: 100%;
  position: relative;
}

.project .text-container {
  width: 35%;
  height: 75%;
  background-color: rgba(255, 255, 255, 0.8);
  position: absolute;

  padding: 10px;
  /* margin: 15px 10px 20px 0; */
  top: 25px;
  left: 15px;
}

.project .title {
  font-weight: 600;
  letter-spacing: 0.02em;
  font-size: 1.2em;
}

.project .spacer {
  display: flex;
}

.project .type {
  text-transform: capitalize;
}
.project .sub-type {
  text-transform: capitalize;
  opacity: 0.8;
}

@media (max-width: 768px) {
  .project {
    height: 40vh;
  }

  .project img {
    height: 65%;
  }

  .project .text-container {
    width: 50%;
    height: 50%;
    top: 69%;
    left: 15px;
    background-color: rgba(255, 255, 255, 0);
  }

  .project .spacer {
    display: none;
  }
}

/* -------- */
/* Press    */
/* -------- */

.press-container .title-box {
  font-size: 1.5em;
  font-weight: 500;
  width: 100%;
  padding: 20px;
}

.press-container {
  z-index: 2;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none;

  display: flex;
  flex-direction: column;

  background-color: rgba(220, 220, 220, 0.9);
}

.press-gallery {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 0 20px;

  overflow-x: scroll;
  overflow-y: hidden;
}

.press-box img {
  height: 90%;
  align-self: start;
  cursor: pointer;
  transition: all 0.1s ease;
}

img:hover {
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.03);
}

.press-box {
  font-size: 0.8em;
  padding: 10px 0;
  margin: 10px 40px 10px 0;
  height: 40vh;
  display: flex;
  flex-direction: column;
}

.press-box .text-container {
  margin: 15px 10px 20px 0;
}

/* ---------------  */
/* Project full    */
/* -------------- */

.project-full img {
  max-width: 90%;
  max-height: 90%;
}

.project-full {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #fff;
  justify-content: center;
  align-items: center;

  z-index: 3;
}

.next {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: #fff;
  padding: 1%;
  border-radius: 50%;
  cursor: pointer;
}

.prev {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: #fff;
  padding: 1%;
  border-radius: 50%;
  cursor: pointer;
}
.close {
  position: absolute;
  right: 0;
  top: 0;
  transform: translateY(-50%);
  background-color: #fff;
  padding: 1%;
  border-radius: 50%;
  cursor: pointer;
}

.show {
  display: flex;
}

.hide {
  display: none;
}
