@font-face {
  font-family: "AspektaVF";
  src: url("../AspektaVF.woff2") format("woff2");
}

* {
  font-family: "AspektaVF";
  margin: 0;
  padding: 0;

  transition: all 0.3s;
}

@c1: #0c252c;
@c2: #f2f2f2;

@c1: #5a6b9e;
@c2: #d8c9c0;

@c1: #42532f;
@c2: #d8c9c0;

@c1: #0c252c;
@c2: #eb797c;

@c2: #d2328b;
@c1: #22437e;

@c2: #f6f859;
@c1: #d8c9c0;

@c2: #22437e;
@c1: #d8c9c0;

@dark-mode: true;
@dark: if((@dark-mode), @c2, #000);
@light: if((@dark-mode), @c1, #fff);

@unit: 1em;

.small(@ruleset) {
  @media (max-width: 600px) {
    @ruleset();
  }
}

.medium(@ruleset) {
  @media (max-width: 900px) {
    @ruleset();
  }
}

body {
  background-color: multiply(lighten(@dark, 80%), @light);
  font-size: 16px;
  .small({
    font-size: 12px;
  });
}

button {
}

.font-heavy() {
  text-transform: uppercase;
  font-weight: 600;
}

.font-sub-head() {
  font-weight: 600;
  line-height: 1.32em;
  letter-spacing: 0.005em;
}

.menu-item() {
  /* Sizing */
  padding: (@unit / 2);
  padding-top: (@unit * 5);
  font-size: 1.5em;
  .font-heavy();

  /* Colors */
  background-color: @light;
  color: @dark;
}

.menu__button__container {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  @shadow: -10px -10px 40px 5px fade(@dark, 0.3);

  & > * {
    .menu-item();
    &[current="true"] {
      background-color: lighten(@dark, 80%);
      background-color: @dark;
      color: @light;
      box-shadow: @shadow;
    }
    &:hover {
      cursor: pointer;
      box-shadow: @shadow;
    }
  }
}

.sub-header {
  display: grid;
  grid-template-columns: 2fr 1fr;
  width: 100%;
  &__label {
    background-color: @light;
    @bg-light: boolean(luma(@light) > 50%);
    color: if(
      @bg-light,
      multiply(lighten(@dark, 80), @light),
      fade(@dark, 60%)
    );
    font-size: 1em;
    .font-heavy();

    padding: (@unit / 2);
    display: flex;
    // padding-top: 90px;
  }
  &__empty-black {
    background-color: @dark;

    font-size: 1em;
    .font-heavy();

    padding: (@unit / 2);
  }
}

.black {
  background-color: @dark;
}

.about {
  display: grid;
  grid-template-columns: 1fr 3fr;

  &__description {
    background-color: @dark;
    color: @light;

    padding: (@unit / 2);
    .font-sub-head();
  }
}

.background-graphic(@primary-color: @dark, @secondary-color: @light) {
  @size: 3px;
  background-color: @secondary-color;
  background-size: @size @size;
  background-position:
    0 0,
    0 @size,
    @size -@size,
    -@size 0;
  background-image: linear-gradient(95deg, (@primary-color) 25%, transparent 0),
    linear-gradient(-45deg, (@primary-color) 25%, transparent 0),
    linear-gradient(45deg, transparent 75%, (@primary-color) 0),
    linear-gradient(-45deg, transparent 75%, (@primary-color) 0);
}

.project {
  @f: 40;
  @dark-bool: if((luma(@dark) > luma(@light)), @light, @dark);
  @box-shadow: 0px 0px 40px 10px fade(@dark-bool, 80);
  .background-graphic(fade(@dark, @f), fade(@light, @f));

  display: grid;
  grid-template-rows: 9fr 1fr;
  .medium({
    grid-template-rows: 14fr 1fr;
  });

  margin-top: 5vh;
  max-width: 100%;
  height: auto;

  box-shadow: @box-shadow;

  &__pair {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    height: 60vh;

    .medium({
      height: 120vh;
      grid-template-columns: 1fr;
      grid-template-rows: 9fr 9fr;
      grid-gap: 10px;
    });
  }

  &__title {
    padding: (@unit / 2);

    background-color: @light;
    .font-heavy();

    color: @dark;
  }

  &__img {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;

    overflow: hidden;

    img {
      max-height: 100%;
      max-width: 100%;
      box-shadow: @box-shadow;
      object-fit: cover;

      .medium({
        max-height: 100%;
        max-width: 100%;
      });
    }
  }
}

.menu {
  background-color: lighten(@dark, 80%);
  display: grid;
  grid-template-rows: 3fr 1fr;
  color: @light;
}

.background-graphic {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -3;

  display: flex;
  flex-wrap: wrap;
}

.random-div {
  background-color: @dark;
  box-shadow: -10px -10px 80px 2px rgba(0, 0, 0, 0.1);
}

.bottom-button {
  cursor: pointer;
  padding: (@unit / 2);
  .font-heavy();

  position: fixed;
  bottom: 10px;
  right: 10px;
  background-color: @dark;
  color: @light;
}

.mother {
  padding: 0 5% 0 5%;
  // background-color: lighten(black, 80%);
}
